@import "tailwindcss";

@theme {
  --color-brand-50: #edfcfe;
  --color-brand-100: #d1f7fc;
  --color-brand-200: #a8eef9;
  --color-brand-300: #6de1f4;
  --color-brand-400: #18ccf1;
  --color-brand-500: #0aaecd;
  --color-brand-600: #0b8bac;
  --color-brand-700: #10708c;
  --color-brand-800: #165b72;
  --color-brand-900: #164c61;
  --color-brand-950: #083242;
  --color-coal: #111313;
}
