---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import PrivacyTiers from "../components/PrivacyTiers.astro";
import Providers from "../components/Providers.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <main>
    <Hero />
    <Features />
    <PrivacyTiers />
    <Providers />
    <HowItWorks />
  </main>
  <Footer />
</Base>
