@import "tailwindcss";

@theme {
  --color-brand-50: #edfef5;
  --color-brand-100: #d1fce6;
  --color-brand-200: #a8f9d1;
  --color-brand-300: #6df4b5;
  --color-brand-400: #20fc8f;
  --color-brand-500: #0acd72;
  --color-brand-600: #0bac5e;
  --color-brand-700: #108c4e;
  --color-brand-800: #16723f;
  --color-brand-900: #166135;
  --color-brand-950: #08421f;
  --color-coal: #111313;
}
